vendor
node_modules
.env
.env.local
.git
.idea
.vscode
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
.phpunit.result.cache
tests
